In [1]:
import pandas as pd

In [55]:
import json
import csv
from numpy import nan

In [3]:
!curl https://raw.githubusercontent.com/d10xa/holidays-calendar/master/json/consultant2021.json --output workersdays.json

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  2913  100  2913    0     0   2913      0  0:00:01 --:--:--  0:00:01  5485

In [62]:
f = open('workersdays.json')
data = json.load(f)

In [63]:
holidays_list = []
for i in data['holidays']:
    holidays_list.append(i)

In [64]:
preholidays_list = []
for i in data['preholidays']:
    preholidays_list.append(i)

In [65]:
nowork_list = []
for i in data['nowork']:
    nowork_list.append(i)

In [70]:
if (len(holidays_list) > len(preholidays_list)):
       preholidays_list += (len(holidays_list)-len(preholidays_list)) * [nan]
elif (len(holidays_list) < len(preholidays_list)):
        holidays_list += (len(preholidays_list)-len(holidays_list)) * [nan]
elif (len(holidays_list) > len(nowork_list)):
       nowork_list += (len(holidays_list)-len(nowork_list)) * [nan]

In [78]:
workers_days = pd.DataFrame({'holidays': holidays_list, 'preholidays': preholidays_list, 'nowork': nowork_list})

In [98]:
workers_days

       holidays preholidays      nowork
0    2021-01-01  2021-02-20  2021-05-04
1    2021-01-02  2021-04-30  2021-05-05
2    2021-01-03  2021-06-11  2021-05-06
3    2021-01-04  2021-11-03  2021-05-07
4    2021-01-05         NaN  2021-11-01
..          ...         ...         ...
113  2021-12-18         NaN         NaN
114  2021-12-19         NaN         NaN
115  2021-12-25         NaN         NaN
116  2021-12-26         NaN         NaN
117  2021-12-31         NaN         NaN

[118 rows x 3 columns]

In [93]:
dates_ = pd.date_range(start='1/1/2021', end='31/12/2021')
id_ = list(range(1, len(dates_)+1))
df_structure = pd.DataFrame({'id': id_, 'date': dates_, 'if_working': nan, 'in_hours': nan})

In [96]:
df_structure

      id       date  if_working  in_hours
0      1 2021-01-01         NaN       NaN
1      2 2021-01-02         NaN       NaN
2      3 2021-01-03         NaN       NaN
3      4 2021-01-04         NaN       NaN
4      5 2021-01-05         NaN       NaN
..   ...        ...         ...       ...
360  361 2021-12-27         NaN       NaN
361  362 2021-12-28         NaN       NaN
362  363 2021-12-29         NaN       NaN
363  364 2021-12-30         NaN       NaN
364  365 2021-12-31         NaN       NaN

[365 rows x 4 columns]

In [99]:
for i in range(structure.shape[0]):
    if any(workers_days['holidays'] == structure['date'][i]):
        structure['if_working'][i] = "ÐŸÑ€"
        structure['in_hours'][i] = 0
    elif any(workers_days['preholidays'] == structure['date'][i]):
        structure['if_working'][i] = "7"
        structure['in_hours'][i] = 7
    elif any(workers_days['nowork'] == structure['date'][i]):
        structure['if_working'][i]  = "ÐŸÑ€"
        structure['in_hours'][i] = 0
    else:
        structure['if_working'][i] = "8"
        structure['in_hours'][i] = 8

C:\Users\kiril\AppData\Local\Temp/ipykernel_16476/169865221.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  structure['in_hours'][i] = 0
C:\Users\kiril\AppData\Local\Temp/ipykernel_16476/169865221.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  structure['in_hours'][i] = 8
C:\Users\kiril\AppData\Local\Temp/ipykernel_16476/169865221.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  structure['in_hours'][i] = 7
C:\Users\kiril\AppData\Local\Temp/ipykernel_16476/169865221.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  structure['in_hours'][i] = 0

In [100]:
structure['in_hours'] = structure['in_hours'].astype(int)

In [101]:
structure

      id        date if_working  in_hours
0      1  2021-01-01         ÐŸÑ€         0
1      2  2021-01-02         ÐŸÑ€         0
2      3  2021-01-03         ÐŸÑ€         0
3      4  2021-01-04         ÐŸÑ€         0
4      5  2021-01-05         ÐŸÑ€         0
..   ...         ...        ...       ...
360  361  2021-12-27          8         8
361  362  2021-12-28          8         8
362  363  2021-12-29          8         8
363  364  2021-12-30          8         8
364  365  2021-12-31         ÐŸÑ€         0

[365 rows x 4 columns]

In [102]:
print(structure.dtypes)

id             int64
date          object
if_working    object
in_hours       int32
dtype: object

In [103]:
structure.to_csv("workersdays2021.csv", index=False, encoding="utf-8")