In [1]:
import pandas as pd

In [173]:
import json
import csv
import datetime
from numpy import nan

In [163]:
!curl https://raw.githubusercontent.com/d10xa/holidays-calendar/master/json/consultant2022.json --output workersdays.json

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  2715  100  2715    0     0  14905      0 --:--:-- --:--:-- --:--:-- 15000

In [164]:
f = open('workersdays.json')
data = json.load(f)

In [165]:
holidays_list = []
for i in data['holidays']:
    holidays_list.append(i)

In [166]:
preholidays_list = []
for i in data['preholidays']:
    preholidays_list.append(i)

In [167]:
# nowork_list = []
# for i in data['nowork']:
#     nowork_list.append(i)

In [168]:
if (len(holidays_list) > len(preholidays_list)):
       preholidays_list += (len(holidays_list)-len(preholidays_list)) * [nan]
elif (len(holidays_list) < len(preholidays_list)):
        holidays_list += (len(preholidays_list)-len(holidays_list)) * [nan]
elif (len(holidays_list) > len(nowork_list)):
       nowork_list += (len(holidays_list)-len(nowork_list)) * [nan]

In [185]:
workers_days = pd.DataFrame({'holidays': holidays_list, 'preholidays': preholidays_list, 'nowork': nowork_list})

In [187]:
for i in range(workers_days.shape[0]):
    if any(workers_days['holidays']):
        workers_days['holidays'][i] = datetime.datetime.strptime(workers_days['holidays'][i], '%Y-%m-%d').date()

    elif any(workers_days['preholidays']):
        workers_days['preholidays'][i] = datetime.datetime.strptime(workers_days['preholidays'][i], '%Y-%m-%d').date()

    elif any(workers_days['nowork']):
         workers_days['nowork'][i] = datetime.datetime.strptime(workers_days['nowork'][i], '%Y-%m-%d').date()

C:\Users\kiril\AppData\Local\Temp/ipykernel_14612/4159267010.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  workers_days['holidays'][i] = datetime.datetime.strptime(workers_days['holidays'][i], '%Y-%m-%d').date()

In [188]:
workers_days

       holidays preholidays  nowork
0    2022-01-01  2022-02-22     NaN
1    2022-01-02  2022-03-05     NaN
2    2022-01-03  2022-11-03     NaN
3    2022-01-04         NaN     NaN
4    2022-01-05         NaN     NaN
..          ...         ...     ...
113  2022-12-17         NaN     NaN
114  2022-12-18         NaN     NaN
115  2022-12-24         NaN     NaN
116  2022-12-25         NaN     NaN
117  2022-12-31         NaN     NaN

[118 rows x 3 columns]

In [189]:
workers_days.dtypes

holidays        object
preholidays     object
nowork         float64
dtype: object

In [194]:
dates_ = pd.date_range(start='1/1/2022', end='31/12/2022')
id_ = list(range(1, len(dates_)+1))
df_structure = pd.DataFrame({'id': id_, 'date': dates_, 'if_working': nan, 'in_hours': nan})

In [195]:
df_structure['date'] = df_structure['date'].dt.date

In [196]:
df_structure

      id        date  if_working  in_hours
0      1  2022-01-01         NaN       NaN
1      2  2022-01-02         NaN       NaN
2      3  2022-01-03         NaN       NaN
3      4  2022-01-04         NaN       NaN
4      5  2022-01-05         NaN       NaN
..   ...         ...         ...       ...
360  361  2022-12-27         NaN       NaN
361  362  2022-12-28         NaN       NaN
362  363  2022-12-29         NaN       NaN
363  364  2022-12-30         NaN       NaN
364  365  2022-12-31         NaN       NaN

[365 rows x 4 columns]

In [197]:
df_structure.dtypes

id              int64
date           object
if_working    float64
in_hours      float64
dtype: object

In [198]:
workers_days['holidays'][0]

datetime.date(2022, 1, 1)

In [199]:
df_structure['date'][0]

datetime.date(2022, 1, 1)

In [200]:
for i in range(df_structure.shape[0]):
    if any(workers_days['holidays'] == df_structure['date'][i]):
        df_structure['if_working'][i] = "Пр"
        df_structure['in_hours'][i] = 0
    elif any(workers_days['preholidays'] == df_structure['date'][i]):
        df_structure['if_working'][i] = "7"
        df_structure['in_hours'][i] = 7
    elif any(workers_days['nowork'] == df_structure['date'][i]):
        df_structure['if_working'][i]  = "Пр"
        df_structure['in_hours'][i] = 0
    else:
        df_structure['if_working'][i] = "8"
        df_structure['in_hours'][i] = 8

C:\Users\kiril\AppData\Local\Temp/ipykernel_14612/1141598575.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_structure['if_working'][i] = "Пр"
C:\Users\kiril\AppData\Roaming\Python\Python39\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\kiril\AppData\Local\Temp/ipykernel_14612/1141598575.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_structure['in_hours'][i] = 0
C:\Users\kiril\AppData\Local\Temp/ipykernel_14612/1141598575.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_structure['in_hours'][i] = 8

In [201]:
df_structure['in_hours'] = df_structure['in_hours'].astype(int)
df_structure['if_working'] = df_structure['if_working']

In [202]:
df_structure

      id        date if_working  in_hours
0      1  2022-01-01         Пр         0
1      2  2022-01-02         Пр         0
2      3  2022-01-03         Пр         0
3      4  2022-01-04         Пр         0
4      5  2022-01-05         Пр         0
..   ...         ...        ...       ...
360  361  2022-12-27          8         8
361  362  2022-12-28          8         8
362  363  2022-12-29          8         8
363  364  2022-12-30          8         8
364  365  2022-12-31         Пр         0

[365 rows x 4 columns]

In [203]:
print(df_structure.dtypes)

id             int64
date          object
if_working    object
in_hours       int32
dtype: object

In [204]:
df_structure.to_csv("workersdays2022.csv", index=False, encoding="utf-8")